<section id="juan">
    <div class="container-fluid flex-wrap-wrap p-3 bg pt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
                <div
                    class="acercade d-flex justify-content-center align-items-center flex-column py-3 px-3">
                <div class="acercade-titulo fs-1 mb-5 rounded-5">¿QUIENES SOMOS?</div>
                <p class="fs-2 text-center">
                    Somos una empresa consolidada a nivel nacional e internacional,
                    con los más altos estándares de calidad y servicio
                    para su comodidad y economía basados en la venta E-commerce
                </p>
                </div>
            </div>
            <div
                class="container-fluid- d-flex justify-content-center align-items-center">
                <div
                    class="container-md rounded-5 d-flex justify-content-center align-items-center flex-column">
                <p class="fs-1 texto-banner text-center mt-2">
                    Somos especialistas en pequeños detalles
                </p>
                <p class="fs-1 texto-banner2 text-center mt-3">Que hacen una gran diferencia</p>

                <button type="button" class="btn btn-light tamañobtn mt-5 fs-2">
                    Contactanos
                </button>
                </div>
            </div>
        </div>
    </div>
</section>
