.carousel-caption-2{
    background: black;
    opacity: 50%;
    height: auto; 
}

.img_men_women{
  height: 500px;
  max-height: 500px !important;

  max-width: 30rem;
  width: 100%;
  object-fit: cover !important;
}